.belowHero {
  height: 110px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: var(--clr1);
  padding-top: 13px;
  border: 4px var(--clr4)
}

.belowHero h2 {
  font-size: 30px;
  color: white;
 
  margin: 0;
}

.belowBelow{
  background-color: var(--clr3);
  position: relative;
  height: 80px;
  color: aliceblue;

}
.belowLocation {
  margin: 0;
  padding: 10px;
}

.location {
  list-style: none;
  display: inline;
  padding: 30px;
 
}
.loactionUl{
  padding-left: 0;
  display: inline;
}


@media only screen and (max-width: 480px){
  .belowHero h2 {
    font-size: 25px;
   
  }
}
