.belowHero {
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: var(--clr3);
}

.belowHero h2 {
  font-size: 40px;
  color: var(--clr5);
  text-shadow: 2px 2px var(--clr1);
  margin: 0;
}
