:root {
	--clr1: #00ffdd;
	--clr2: #15de07;
	--clr3: #baf86d;
	--clr4: #f8d152;
	--clr5: #f2981a;
}

.app {
  text-align: center;
  background-color: var(--clr1);
  min-height: 100%;
  padding-bottom: 60px;
  position: relative;
}
html, body, .body-section {
	min-height: 100%;
	display: flexbox;
	flex-direction: column;
}
